<H1><B>02 Data Transformation</B></H1>

<H3><B>Step 1</B>&nbsp;&nbsp;&nbsp; Use different techniques to identify mistakes and omissions</H3>
<a href="https://www.w3schools.com/python/pandas/pandas_analyzing.asp">Pandas - Analyzing Data: w3schools.com</a>
<br>&nbsp;

In [1]:
from PIL import Image              # Using these lines as template for whole file.
import csv
import json
import os

import pandas as pd
import sqlite3

import matplotlib.pyplot as plt
import numpy as np
import scipy as cp

In [13]:
# 1. Analyzing DataFrames and Viewing the Data.
# One of the most used method for getting a quick overview of the DataFrame, is the head() method.
# The head() method returns the headers and a specified number of rows, starting from the top.
# Get a quick overview by printing the first 10 rows of the DataFrame:

df = pd.read_csv('../../Project/Project 1/data.csv')
df.head(10)

   id  genetic  length   mass  exercise  smoking  alcohol  lifespan  sugar
0   1     73.9   185.0   99.7       0.9      0.0      2.4      73.1    6.9
1   2     86.0   172.0  105.4       1.8      8.1      0.4      85.0    4.2
2   3     83.3   176.0  111.4       1.1      0.8      4.6      81.6    7.5
3   4     82.8   164.0  111.4       4.7     11.8      1.0      81.0    2.9
4   5     78.7   178.0   71.6       1.5      8.3      4.9      75.0    5.5
5   6     88.2   192.0   54.3       1.8      0.4      2.1      87.5    8.0
6   7     84.1   180.0   91.6       4.3      2.2      0.2      86.8    6.0
7   8     76.8   185.0  127.9       2.6     21.0      1.7      69.4    3.7
8   9     92.1   191.0   68.0       1.9     17.8      5.1      86.1    7.1
9  10     79.0   164.0  118.1       3.7      0.5      1.2      77.8    6.1

In [14]:
# 2. Info About the Data
# The DataFrames object has a method called info(), that gives you more information about the data set.

df = pd.read_csv('../../Project/Project 1/data.csv')
print(df.info())

# Result explained in short:
# The result tells us there are 4096 rows and 9 columns with the names of each column and their data type.
# The info() method also tells us how many Non-Null values there are present in each column:
# Column 'genetic' has 1 'null value'
# Column 'length' has 3 'null values'
# Column 'mass' has 2 'null value'
# Column 'exercise' has 1 'null value'
# Column 'smoking' has 0 'null value'
# Column 'alcohol' has 2 'null value'
# Column 'lifespan' has 2 'null value'
# Column 'sugar' has 1 'null value'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4096 non-null   int64
 1   genetic   4095 non-null   float64
 2   length    4093 non-null   float64
 3   mass      4094 non-null   float64
 4   exercise  4095 non-null   float64
 5   smoking   4096 non-null   float64
 6   alcohol   4094 non-null   float64
 7   lifespan  4094 non-null   float64
 8   sugar     4095 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 288.1 KB
None

<H3><B>Step 2</B>&nbsp;&nbsp;&nbsp; Apply the different techniques to clean the dataset</H3>

<H4><B>Cleaning Data</B></H4><a href="https://www.w3schools.com/python/pandas/pandas_cleaning_empty_cells.asp">Pandas - Cleaning Empty Cells: w3schools.com</a>
<br>&nbsp;
Data cleaning means fixing bad data in your data set. Bad data could be:<br>
• Empty cells<br>
• Data in wrong format<br>
• Wrong data<br>
• Duplicates<br>

In [15]:
# Cleaning Empty Cells by Removing Rows.
# One way to deal with empty cells is to remove rows that contain empty cells.
# This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.
# Return a new DataFrame with no empty cells:
import pandas as pd
df = pd.read_csv('../../Project/Project 1/data.csv')
new_df = df.dropna()
# print(new_df.to_string())
print(new_df.info())

# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
# Note: All null-values are gone and 7 rows are deleted: 8185 entries (rows) left to work with.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4084 entries, 0 to 4095
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4084 non-null   int64
 1   genetic   4084 non-null   float64
 2   length    4084 non-null   float64
 3   mass      4084 non-null   float64
 4   exercise  4084 non-null   float64
 5   smoking   4084 non-null   float64
 6   alcohol   4084 non-null   float64
 7   lifespan  4084 non-null   float64
 8   sugar     4084 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 319.1 KB
None

<H4><B>Replace Using Mean</B></H4>

In [16]:
# Replace Using Mean, Median, or Mode
# A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
# Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column.

# Calculate the MEAN, and replace any empty values with it:
df = pd.read_csv('../../Project/Project 1/data.csv')
x = df['genetic'].mean()
df['genetic'].fillna(x, inplace = True)
# print(df.to_string())
print(df.info())

# Mean = the average value (the sum of all values divided by number of values).
# NOTE: R&D automated code for all other columns with 'null-values'. Now only column 'genetic' was fixed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4096 non-null   int64
 1   genetic   4096 non-null   float64
 2   length    4093 non-null   float64
 3   mass      4094 non-null   float64
 4   exercise  4095 non-null   float64
 5   smoking   4096 non-null   float64
 6   alcohol   4094 non-null   float64
 7   lifespan  4094 non-null   float64
 8   sugar     4095 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 288.1 KB
None

<H4><B>Replace Using Median</B></H4>

In [17]:
# Calculate the MEDIAN, and replace any empty values with it:
df = pd.read_csv('../../Project/Project 1/data.csv')
x = df['length'].median()
df['length'].fillna(x, inplace = True)
# print(df.to_string())
print(df.info())

# Median = the value in the middle, after you have sorted all values ascending.
# NOTE: R&D automated code for all other columns with 'null-values'. Now only column 'length' was fixed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4096 non-null   int64
 1   genetic   4095 non-null   float64
 2   length    4096 non-null   float64
 3   mass      4094 non-null   float64
 4   exercise  4095 non-null   float64
 5   smoking   4096 non-null   float64
 6   alcohol   4094 non-null   float64
 7   lifespan  4094 non-null   float64
 8   sugar     4095 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 288.1 KB
None

<H4><B>Replace Using Mode</B></H4>

In [18]:
# Calculate the MODE, and replace any empty values with it:
df = pd.read_csv('../../Project/Project 1/data.csv')
x = df['mass'].mode()
df['mass'].fillna(x, inplace = True)
# print(df.to_string())
print(df.info())

# Mode = the value that appears most frequently.
# NOTE: R&D automated code for all other columns with 'null-values'. However column 'mass' was NOT fixed using 'mode' method.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4096 non-null   int64
 1   genetic   4095 non-null   float64
 2   length    4093 non-null   float64
 3   mass      4094 non-null   float64
 4   exercise  4095 non-null   float64
 5   smoking   4096 non-null   float64
 6   alcohol   4094 non-null   float64
 7   lifespan  4094 non-null   float64
 8   sugar     4095 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 288.1 KB
None

<H4><B>Discover Duplicates</B></H4><a href="https://www.w3schools.com/python/pandas/pandas_cleaning_duplicates.asp">Pandas - Removing Duplicates: w3schools.com</a><br>&nbsp;

In [19]:
# To discover duplicates, we can use the duplicated() method.
# The duplicated() method returns a Boolean values for each row:

print(df.duplicated())
# NOTE: There seems to be no duplicates at all.

0       False
1       False
2       False
3       False
4       False
        ...
4091    False
4092    False
4093    False
4094    False
4095    False
Length: 4096, dtype: bool

<H3><B>Step 3</B>&nbsp;&nbsp;&nbsp; Think about how to automate the usage of the techniques/build a pipeline</H3><br>&nbsp;<i>This paragraph still needs attention and explanation.</i>